<main class="main-content">
    <h2 class="page-title">Blogs</h2>
    <% blogs.forEach(blog =>{ %>

    <h3 class="blog-title"><%=blog.title%></h3>
    <span><%= blog.posted_on %></span>

    <%})%>
</main>